.recent-project-list {
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
}

.recent-project-item {
  display: inline-block;
  /* background-color: pink; */
  padding: 2px 0px;
  height: 30px;
}

.recent-project-item:hover {
  background-color: transparent;
}

.recent-project-item .link {
  font-weight: 500;
  vertical-align: middle;
  line-height: 20px;
  color: var(--primary-color-1);
  cursor: pointer;
  display: inline-block;
  max-width: 400px!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recent-project-item .edit-icon {
  visibility: hidden;
  cursor: pointer;
  margin-left: 5px;
}

.recent-project-item:hover .link {
  text-decoration: underline;
}

.recent-project-item:hover .edit-icon {
  visibility: visible;
}

.project-list-table {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 4px;
}

.project-list-table th, .project-list-table td {
  text-align: left;
  /* text-indent: 1em; */
  padding: 2px;
  padding-left: 10px;
  /* background-color: pink; */
}

.project-list-table thead {
  border-bottom: 1px solid #ccc;
}

.project-list-table thead th:nth-child(1),
.project-list-table tbody td:nth-child(1) {
  min-width: 300px;
  /* background-color: red!important; */
}

.project-list-table th, .project-list-table td {
  /* background: pink; */
}

.project-list-table thead th:nth-child(2),
.project-list-table tbody td:nth-child(2) {
  width: 180px; /* static width for mtime */
}

.project-list-table thead th:nth-child(3),
.project-list-table tbody td:nth-child(3) {
  width: 50px; /* static width for preview icon */
}

.mtime {
  color: #666;
}

.project-list-table,
.project-list-table tbody,
.project-list-table thead {
  display: inline-block;
}

.project-list-table tbody {
  overflow: auto;
  max-height: 210px;
}

.project-list-table thead,
.project-list-table tr {
  display: table;
  table-layout: fixed;
}

.project-list-table tr:hover {
  background-color: #eee;
}

:global(.bp4-dark) .project-list-table tr:hover {
  background-color: rgba(255,255,255,0.1);
}

.popover-content {
  padding: 10px;
}

.popover-content h5 input, 
.popover-content h5 :global(.bp4-editable-text-content) {
  max-width: 250px!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popover-content hr {
  margin-top: 8px;
}
.popover-content .mtime {
  font-size: 80%;
  color: #aaa;
  margin-bottom: 0;
}

.popover-content :global(.bp4-editable-text) {
  padding: 0;
  white-space: pre-wrap;
}

.template-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.template-list .template-card {
  width: 100px;
  margin: 10px;
  /* background-color: pink; */
  border-radius: 2px;
  cursor: pointer;
  box-sizing: content-box;
  border: 1px transparent solid;
  box-shadow: 0 0 0 1px rgba(17,20,24,.15);
}

.template-list .template-card:first-child {
  margin-left: 4px;
}

.template-card-empty {
  border: 1px #ccc dashed!important;
  box-shadow: none!important;
}

.template-list .template-card > div {
  position: relative;
}

.grid-name {
  width: 100%;
  line-height: 25px;
  margin-bottom: 5px;
  text-align: center;
  word-wrap: break-word;
}