.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-container .grid {
  width: 20%;
  max-width: 120px;
  margin: 10px;
}

.grid-container .grid > div {
  position: relative;
}

.grid-name {
  width: calc(100% + 20px);
  min-height: 20px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -13px;
  /* background-color: pink; */
  text-align: center;
  word-wrap: break-word;
}

.grid-button-group {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.16);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

:global(.bp4-card):hover .grid-button-group {
  display: block;
  cursor: pointer;
}

.grid-button-group > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.symbol-container {
  border-radius: 2px;
  padding: 5px;
  padding-top: 0;
  user-select: none;
  -webkit-user-select: none;
}

.symbol-container-hoverable:hover {
  background-color: #eee;
}

:global(.bp4-dark) .symbol-container-hoverable:hover {
  background-color: #fff2;
}

.symbol-container h6 {
  /* background-color: pink; */
  margin: 0!important;
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}

.symbol-container .element-list {
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.symbol-container .element-list .element {
  width: 40px;
  height: 40px;
  margin: 2px 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .1s ease;
}

.symbol-container .element-list .element:hover {
  border-radius: 2px;
  border-color: var(--primary-color-2);
  transform: scale(1.2);
}

.element-op {
  /* min-width: 200px; */
  /* min-height: 150px; */
  padding: 10px;
}

.element-detailed-list table {
  width: 100%;
  margin-bottom: 16px;
}

.element-detailed-list table tbody {
  border-color: transparent;
}

.element-detailed-list tr:hover {
  background-color: #eee;
}

:global(.bp4-dark) .element-detailed-list tr:hover {
  background-color: #fff2;
}

.element-detailed-list tr td:nth-child(1) {
  min-width: 240px;
}

.element-detailed-list tr td:nth-last-child(3) {
  width: 100px;
}

.element-detailed-list tr td:nth-last-child(2) {
  width: 50px;
}

.element-detailed-list tr td:nth-last-child(1) {
  width: 100px;
}

.list-container tbody tr {
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  /* padding-top: 5px!important; */
  /* padding-bottom: 5px!important; */
}

.list-container tbody tr:hover {
  background-color: #eee;
}

.list-container tbody tr td {
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}

:global(.bp4-dark) .list-container tbody tr:hover {
  background-color: rgba(255,255,255,0.1);
}

.list-container .list-name {
  min-width: 80px;
  max-width: 400px;
  width: calc(100vw - 530px);
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}

.list-container .list-name:hover {
  font-weight: 700;
  text-decoration: underline;
}

.fev-ref-table {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px;
}

.fev-ref-table th {
  text-align: left;
}

.fev-ref-table td, .fev-ref-table th {
  padding: 2px 8px;
}

.fev-ref-table .table-name {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry-asset-list {
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 2px;
}