.api-list-container {
  padding-top: 4px;
  padding-bottom: 4px;
}

ul.api-list, ul.arg-list {
  padding: 0;
  margin: 0;
  font-size: 100%;
  white-space: unset; 
  /* TODO: word wrap in 2 lines */
  /* background-color: pink; */
}

ul.arg-list {
  padding-left: 4px;
}

.arg-hover:hover {
  color: #222;
  font-weight: 700;
}

.insert-up, .insert-down {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #666;
  display: none;
}

.insert-up {
  top: 0;
}

.insert-down {
  bottom: 0;
}

.inline {
  display: inline-block!important;
}