.api-list-container {
  padding-top: 4px;
  padding-bottom: 4px;
}

ul.api-list, ul.arg-list {
  padding: 0;
  margin: 0;
  font-size: 100%;
  white-space: unset; 
  list-style: none;
}

.api-item-fold div {
  /* background-color: pink!important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  max-height: 40px; */
}

div.arg-list > div {
  margin: 4px 0;
}

.arg-hover:hover {
  color: #222;
  font-weight: 700;
}

.insert-up, .insert-down {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #666;
  display: none;
}

.insert-up {
  top: 0;
}

.insert-down {
  bottom: 0;
}

.inline {
  display: inline-block!important;
}