.box {
  width: 350px;
  height: 460px;
  padding: 10px;
  overflow: scroll;
  overflow-y: overlay;
  overscroll-behavior: none;
}

.box h6 {
  margin-top: 5px;
}

.box :global(.bp4-panel-stack2) {
  height: 100%;
}

.box :global(.bp4-panel-stack2) :global(.bp4-panel-stack-view) {
  overflow-y: auto;
}

.subpanel {
  padding-bottom: 200px;
}

.subpanel code {
  margin: 0 4px;
  user-select: all;
  -webkit-user-select: all;
}

.back-button {
  background-color: white;
  position: sticky;
  margin-top: 5px;
  padding: 2px 0;
  left: 0px; top: 0px;
  z-index: 10;
}

.api-box {
  /* border: 1px solid var(--primary-color-2);
  border-radius: 2px; */
}

.api-box h5 {
  margin-bottom: 10px;
}

.api-group {
  padding: 5px;
}

.arg-input-list {
  margin-bottom: 10px;
}


.arg-input-list > div {
  margin: 4px 0;
}

.spoiler {
  color: #eee;
}
/* .spoiler {
  background-color: black;
}

.spoiler:hover {
  background-color: transparent;
} */